{% extends 'base.html' %}
{% load static %}
{% block ext_css %}
    {{ block.super }}
{% endblock %}

{% block ext_js %}
    {{ block.super }}
{% endblock %}

{% block header %}
    {{ block.super }}
    <div>
        <div class="container">
            <div class="row">
                <div class="span6">
                    <ul class="nav nav-tabs navbar-right" >
                        <li><a href="{% url 'blog:mine' %}">首页</a></li>
                        <li><a href="{% url 'blog:allblog' %}">全部文章</a></li>
                        <li><a href="{% url 'blog:login' %}">登录</a></li>

                        <li><a href="{% url 'blog:createarticle'  %}">写博客</a></li>
                        <li><a href="#">我的</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


{% endblock %}